<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="navbar-right">
                <a class="btn btn-link" href='#main_page'>
                    [ Выйти ]
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <h1>СТРАНИЦА ИСПОЛНИТЕЛЯ</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="#all_bids_page">[ Все заявки ]</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <div class="text-center">
                <p>Избранные заявки</p>
            </div>
            <div class="col-lg-12">
                <div class="well bs-component" ng-repeat="x in links">
                    <div class="form-horizontal">
                        <fieldset>
                            <legend>{{ x.name }}</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Категория</label>
                                <div class="col-lg-10">
                                    <div class="controls">
                                        <p class="form-control-static">{{ x.category }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">E-mail</label>
                                <div class="col-lg-10">
                                    <div class="controls">
                                        <p class="form-control-static">{{ x.email }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Описание</label>
                                <div class="col-lg-10">
                                    <div class="controls">
                                        <p class="form-control-static">{{ x.summary }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Файлы</label>
                                <div class="col-lg-10">
                                    <div class="controls" ng-repeat="y in x.files">
                                        <a href="uploader/uploads/{{ y.file }}" target="_blank">{{ y.file }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input type="hidden" name="id" value="{{ x.id }}">
                                    <div class="pull-right">
                                        <button name="delete" ng-click="deleteBid(x.id)" class="btn btn-primary">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>